:root {
  --item-color-primary-1: #f9f0ff;
  --item-color-primary-2: #efdbff;
  --item-color-primary-3: #d3adf7;
  --item-color-primary-4: #b37feb;
  --item-color-primary-5: #9254de;
  --item-color-primary-6: #722ed1;
  --item-color-primary-7: #531dab;
  --item-color-primary-8: #391085;
  --item-color-primary-9: #22075e;
  --item-color-primary-10: #120338;
  --item-color-success-1: #f6ffed;
  --item-color-success-2: #d9f7be;
  --item-color-success-3: #b7eb8f;
  --item-color-success-4: #95de64;
  --item-color-success-5: #73d13d;
  --item-color-success-6: #52c41a;
  --item-color-success-7: #389e0d;
  --item-color-success-8: #237804;
  --item-color-success-9: #135200;
  --item-color-success-10: #092b00;
  --item-color-warning-1: #fffbe6;
  --item-color-warning-2: #fff1b8;
  --item-color-warning-3: #ffe58f;
  --item-color-warning-4: #ffd666;
  --item-color-warning-5: #ffc53d;
  --item-color-warning-6: #faad14;
  --item-color-warning-7: #d48806;
  --item-color-warning-8: #ad6800;
  --item-color-warning-9: #874d00;
  --item-color-warning-10: #613400;
  --item-color-error-1: #fff1f0;
  --item-color-error-2: #ffccc7;
  --item-color-error-3: #ffa39e;
  --item-color-error-4: #ff7875;
  --item-color-error-5: #ff4d4f;
  --item-color-error-6: #f5222d;
  --item-color-error-7: #cf1322;
  --item-color-error-8: #a8071a;
  --item-color-error-9: #820014;
  --item-color-error-10: #5c0011;

  --item-dark-color-primary-1: #21232b;

  --white: #ffffff;
  --black: #000000;
  --red-50: #ffecec;
  --red-100: #ffd0d0;
  --red-200: #ffb1b1;
  --red-300: #f67d7b;
  --red-400: #ec4a44;
  --red-500: #e52628;
  --red-600: #be110b;
  --red-700: #990b07;
  --red-800: #740604;
  --red-900: #4f0000;
  --red-950: #3b0000;

  --white-5: rgba(255, 255, 255, 0.05);
  --white-10: rgba(255, 255, 255, 0.1);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-30: rgba(255, 255, 255, 0.3);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-70: rgba(255, 255, 255, 0.7);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-90: rgba(255, 255, 255, 0.9);
  --white-100: #ffffff;
  --white-200: #333847;

  --black-5: rgba(0, 0, 0, 0.05);
  --black-10: rgba(0, 0, 0, 0.1);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-70: rgba(0, 0, 0, 0.7);
  --black-80: rgba(0, 0, 0, 0.8);
  --black-90: rgba(0, 0, 0, 0.9);
  --black-100: #000000;
  --black-200: #23262f;
  --black-300: #21232b;
  --black-400: #1b1c23;
  --black-500: #121217;

  --purple-50: #e9d9fd;
  --purple-100: #d3b2fa;
  --purple-200: #c89ff9;
  --purple-300: #bc8bf8;
  --purple-400: #b178f7;
  --purple-500: #9b51f5;
  --purple-600: #852bf3;
  --purple-700: #7a18f2;
  --purple-800: #700de7;
  --purple-900: #5d0bc1;
  --purple-950: #4d00ba;
}
